@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header-container {
    
    background-image: url("/images/header.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: sticky;
    top: 0;   
    z-index: 10;
     
    
    .nav-item div {
       color: v.$color4;
       font-size: 20px;
       font-weight: 600;
    }
   
}